.top-section {
  /* border: 1px solid; */
  display: flex;
  text-align: center;
}
.top-section div {
  height: 300px;
  background-color: rgb(29, 113, 124);
  border: 3px solid;
  margin: 10px;
}
#a {
  flex-grow: 3;
}
#b {
  flex-grow: 1;
}
#c {
  flex-grow: 10;
}
.bottom-section {
  display: flex;
  text-align: center;
}
.bottom-section div {
  border: 3px solid;
  height: 30px;
  margin: 10px 0px 10px 10px;
}
#x {
  flex-grow: 4;
  background-color: aqua;
}
#y {
  flex-grow: 2;
  background-color: coral;
}
#z {
  flex-grow: 1;
  background-color: aqua;
}
