* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(163, 201, 206);
}
.container {
  display: flex;
  height: 260px;
  margin: 200px 50px;
}
div:nth-of-type(2n) {
  align-self: end;
}
div {
  flex-grow: 1;
}
.container img {
  border-radius: 50%;
}
