* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: yellowgreen;
  /* border: 1px solid; */
}
.container {
  width: 100%;
}
.container-fluid {
  width: 1300px;
}

img {
  width: 100%;
}
.posi-rel {
  position: relative;
}
.posi-ab {
  position: absolute;
}
/* header section start  */
.logo {
  width: 200px;
  margin-left: 50px;
}
header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  line-height: 180px;
  position: relative;
}
.navbar li {
  display: inline-block;
  margin-left: 26px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
}
.navbar li a {
  color: #000000;
  text-decoration: none;
  padding: 5px;
}
.navbar li a:hover {
  color: #be6419;
}
.btn {
  background-color: #be6419;
  color: #f6f3ec;
  margin-left: 26px;
  margin-right: 50px;
  border-radius: none;
  padding: 5px 15px 5px 15px;
  border: none;
}
.btn:hover {
  background-color: transparent;
  color: #be6419;
  outline: 1px solid black;
  cursor: pointer;
}
.bg_nav {
  width: 200px;
  position: absolute;
  left: 400px;
  top: -15px;
}
/* header section end  */
/* main section :start */
.main-section {
  display: flex;
  margin: 50px 50px 50px 100px;
}
.main-section .sub-section-1 h1 {
  font-size: 85px;
  line-height: 80px;
  color: #000000;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 20px;
}
.main-section .sub-section-1 p {
  font-size: 25px;
  margin: 5px 310px 50px 0px;
}
.main-section .sub-section-1 .img-small {
  width: 242px;
  position: absolute;
  left: 270px;
  top: -13px;
}
.main-section .sub-section-2 .main-section-img {
  width: 650px;
}
.main-section .sub-section-2 .Yellow-Shape {
  width: 100px;
  margin-left: 280px;
  margin-bottom: 30px;
}
.read-more a {
  font-size: 26px;
  text-decoration: underline;
  color: #000000;
  font-weight: 800;
  margin-top: 70px;
}
.main-section .sub-section-1 .bg-blue {
  position: absolute;
  top: 200px;
  left: -150px;
  width: 200px;
}
/* main section end */
/* restorant section :start */
.restorant-img {
  margin: 50px;
  position: relative;
  z-index: 1;
}
.restorant-img img {
  display: block;
}
.restorant div p {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin: 5px 300px 5px 300px;
}
.restorant div h1 {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin: 25px;
}
.restorant .resto-bg-1 {
  width: 150px;
  position: absolute;
  top: 40px;
  right: -50px;
}
.restorant .resto-bg-2 {
  width: 150px;
  position: absolute;
  top: 200px;
  transform: rotate(90deg);
  left: -150px;
}
.restorant .resto-bg-3 {
  width: 100px;
  position: absolute;
  bottom: -30px;
  right: 300px;
}
/* restorant section :end */
/* our menu section :start */

.card {
  display: flex;
  /* gap: 0px; */
  /* margin: 0px -80px; */
}
.card .menu-card {
  width: 300px;
}
.menu .our-menu h6 {
  font-size: 50px;
  line-height: 142px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
}
.menu .our-menu p {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin: 0px 400px 50px 400px;
}
.menu .card .menu-card h6 {
  font-size: 26px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto";
}
.menu .card .menu-card p {
  font-size: 26px;
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
}
.menu .abc {
  width: 150px;
  position: absolute;
  top: 120px;
  left: 200px;
}
/* our menu section :end */
/* about us section start */
.about_us .about-img {
  position: relative;
  z-index: 1;

  margin-left: 100px;
  margin-right: 50px;
}
.about_us .about-img img {
  display: block;
}
.about_us h6 {
  font-size: 50px;
  line-height: 100px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
  margin-top: 100px;
}
.about_us p {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 740px;
  margin-bottom: 50px;
}
.about_us h6,
p {
  margin-left: 100px;
}
.about_us .about-bg {
  width: 50px;
  position: absolute;
  top: -50px;
  left: -20px;
  transform: rotate(120deg);
}
.about_us .about-bg2 {
  width: 180px;
  position: absolute;
  bottom: -50px;
  right: 380px;
}
/* about us section end */
/* own flaver secton :start */
.own-flavor {
  display: flex;
  margin-top: 50px;
}
.own-flavor .own-flav-img1 {
  width: 900px;
  margin: 100px 50px 50px 100px;
}
.own-flavor .own-flav-img2 {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  width: 350px;
  margin-top: 400px;
  margin-left: 15px;
}
.own-flavor h6 {
  font-size: 50px;
  line-height: 100px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
  text-align: right;
  margin-top: 150px;
}
.own-flavor p {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: right;
}
.second-sec h6,
p {
  margin-right: 200px;
}
.second-sec .own-bg {
  width: 100px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 130px;
  left: 350px;
}
/* own flaver secton end */
/* new recipes section :start */
.new-recipes h6 {
  font-size: 50px;
  line-height: 70px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
  margin-top: 50px;
}
.new-recipes p {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin: 0px 380px 0px 380px;
}
.new-recipes .image-flex {
  display: flex;
  column-gap: 30px;
  margin: 50px 100px 50px 100px;
  position: relative;
}
.new-recipes .image-flex .img-1 img {
  z-index: 1;
  display: block;
}
.new-recipes .image-flex .new-recipes2-img {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.new-recipes .new-recipes-bg1 {
  position: absolute;
  left: 150px;
  top: 20px;
  width: 200px;
}
.new-recipes .new-recipes-bg2 {
  position: absolute;
  left: 300px;
  bottom: -40px;
  width: 200px;
}
/* new recipes section :end */
/* talents section :start */
.talents {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}
.talent-img {
  margin-top: 50px;
}
.talents h6 {
  font-size: 50px;
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
}
.talents .para {
  font-size: 25px;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
}
.talents .read a {
  font-size: 25px;
  text-decoration: underline;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto";
}
.talents .sub_div h6 {
  margin: 50px 220px 20px 100px;
}
.talents .sub_div p {
  margin-bottom: 20px;
}
/* talents section end */
