* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  /* border: 2px solid white; */
}
.container {
  border: 1px solid black;
}
/* menu section start */
.menubar {
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  padding: 20px 0;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  list-style-type: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}
.menu ul a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
.menu ul a:hover {
  color: #303030;
  background-color: #e7631c;

  outline-style: inset;
}
.search a img {
  height: 17px;
}
.search:hover {
  background-color: #e7631c;
}
.logo img {
  height: 40px;
}
/* hero section start */

.hero-section {
  background-image: url(/Psd-to-html/image/banner-hero.png);
  background-repeat: no-repeat;
  background-position: 15% 60%;
  height: 30rem;
  background-size: cover;
  background-blend-mode: darken;
}
.box {
  height: 300px;
  width: 400px;
  padding: 200px 19px 0px 93px;
}

.hero-section .title h1 {
  color: white;

  font-size: 40px;
  transition: all 0.3s ease-in;
  animation-name: hims2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes hims2 {
  from {
    transform: translate(-50px, 10px) rotate(20deg);
  }
  to {
    transform: translate(50px, 10px) rotate(-20deg);
  }
}
.hero-section .text p {
  color: white;
  text-align: justify;
  padding: 10px;
}

button {
  color: white;
  background-color: #e7631c;
  margin: 10px;
  padding: 8px 30px;
  border: 1px solid black;
  border-radius: 5px;

  box-shadow: 3px 3px 3px;
  transition: all 0.3sec ease-in;
  animation-name: hims;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  cursor: pointer;
}
@keyframes hims {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
button:hover {
  background-color: transparent;
  color: #e7631c;
  border: 2px solid white;
  box-shadow: 3px 3px 3px;
  animation: none;
  /* transition: all 1sec sec ease-out; */
}
/* DANCE TOUR SECTION :start */
.card1 {
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  background-color: #e7631c;

  margin: 0px 280px;
}
.dance-tour {
  background-color: #e7631c;
  text-align: center;
}
.america,
.asia,
.austalia {
  background-color: #303030;
  margin-bottom: 50px;
  box-shadow: 10px 5px 10px rgba(26, 23, 23, 0.678);
}

.dance-tour h3,
p,
h6 {
  color: white;
}
.dance-tour h3 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 40px;
}
.dance-tour p {
  text-align: center;
  padding: 20px;
}
.card1 img {
  height: 350px;
  width: 230px;
}

.card1 h6 {
  font-size: 20px;
  padding-top: 20px;
}
/* start pricing section */
.pricing {
  background-color: #2f2f2f;
  text-align: center;
}
.Title {
  padding: 70px;
}
.Title h6 {
  font-size: 40px;
}
.Title p {
  padding: 20px 350px 0px 350px;
  line-height: -5px;
  word-spacing: 2px;
}
.card2 {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}
.basic {
  width: 280px;
  background-color: #e7631b;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: 10px 5px 8px rgba(221, 218, 218, 0.678);
}
.doller {
  background-color: #2f2f2f;
  color: white;
}
.card2 .basic img {
  height: 100px;
  margin: 30px;
}
.card2 .basic h6 {
  font-size: 20px;
  margin: 10px;
}
.card2 .basic p {
  line-height: 20px;
  font-weight: 400;
}
.card2 .basic .doller {
  margin: 20px;
  padding: 10px;
}
/* amazing dance section start */

.amazing {
  color: white;
  background-color: #e7631b;
  display: flex;
  text-align: center;
  align-items: center;
}

.box2 h6 {
  font-size: 40px;
  padding: 20px 0px;
}
.amazing p {
  line-height: 30px;
}
.box2 div {
  background-color: #2f2f2f;
  margin: 25px;
  padding: 15px 0px;
}

.amazing .box1 img {
  max-height: fit-content;
  width: 600px;
}

.amazing .box2 {
  width: 400px;
  margin: 0px auto;
}

/* our statics section start  */

.statics {
  background-color: #303030;
  text-align: center;
  padding: 150px 0px 50px 0px;
}
.statics h3 {
  font-size: 40px;
  padding: 30px;
  text-transform: uppercase;
}
.statics p {
  text-align: center;
  line-height: 20px;
  margin: 0px 420px;
  padding-bottom: 16px;
}
.cac {
  display: flex;
  justify-content: space-around;
  column-gap: 200px;
  text-align: center;
  margin-top: 10px;
  padding: 100px;
}
.cac span {
  display: flex;
  font-size: 20px;
  font-weight: 800;
}
.cac div {
  font-size: 42px;
}
