@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 300;
}
.hero-section {
  background-image: url(./image/developer.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-container {
  color: white;
  max-width: 900px;
  margin: 0 auto;
  /* margin-right: 1px; */
  padding-top: 64px;
  padding-left: 20px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}
.large-text {
  font-size: 42px;
  font-weight: 400;
}
.black-box {
  background-color: black;
  padding: 20px;
}
.black-box h2 {
  color: white;
  font-weight: 300;
  font-size: 72px;
  text-align: center;
}
.black-box h2 span {
  font-weight: 400;
  font-size: 96px;
}
.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;

  max-width: 1100px;
  margin: 50px auto;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: * center;
}
.card {
  max-width: 320px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.2);
  transition: ease-in 0.3sec;
}
.card-content {
  padding: 20px;
}
p {
  padding-top: 10px;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 5px rgba(1, 1, 1, 0.5);
  transition: ease-in 0.5sec;
}
.bottom-section {
  display: flex;
}
.contact {
  background-color: #515603;
}
.about {
  background-color: #722300;
}
.about,
.contact {
  min-height: 300px;
  padding: 32px;
  color: white;
}
.about p,
.contact p {
  margin-bottom: 20px;
}
.about h2,
.contact h2 {
  font-size: 64px;
  font-weight: 300;
}
footer {
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  padding: 20px;
  color: white;
}
@media (max-width: 786px) {
  .hero-section {
    min-height: 50vh;
  }
  .text-container {
    padding: 10px 0;
    text-align: center;
  }
  .large-text {
    font-size: 32px;
  }
  .black-box h2 {
    font-size: 24px;
  }
  .black-box h2 span {
    font-weight: 400;
    font-size: 32px;
  }
  .bottom-section {
    flex-direction: column;
  }
  h1 {
    font-size: 32px;
  }
  .about h2,
  .contact h2 {
    font-size: 32px;
  }
}
