:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: red; */
}
html {
  font-size: 62.5%;
}
body,
html {
  font-family: "poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}
body {
  font-size: 1.4rem;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
/* header section  */

header {
  background-color: var(--lighting-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
nav li {
  font-size: 1.8rem;
  border-bottom: 0.4rem solid transparent;
  transition: 0.3s ease-in-out;
}
nav li:hover {
  border-bottom: 0.4rem solid var(--secondary-color);
  transition: 0.3s ease-in-out;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}
/* hero section start  */
#hero {
  background-color: var(--dark-color);
  padding: 4rem 0;
  border-bottom: 4px solid var(--lighting-color);
}
#hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .hero-img img {
  width: 100%;
  max-width: 30rem;
} */
.hero-content {
  display: grid;
  place-items: center;
}
#hero h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hi-text {
  font-size: 6rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.name-text {
  font-size: 5rem;
}
#hero h2 {
  font-size: 4rem;
  font-weight: bold;
  /* animation  */
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
/* .hero-img {
  background-color: #fff700;
  border-radius: 50%;
  overflow: hidden;
} */

/* project section  */
#project {
  background: var(--darker-color);
}
#project h2 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem 0;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}
.grid-item {
  display: grid;
  place-items: center;
}
.card {
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.card img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.card:hover .card-content {
  background: white;
  color: var(--dark-color);
  transform: translateY(0px);
}
.card-content {
  padding: 2rem;
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  transition: 0.5s ease-in-out;
  transform: translateY(100px);
}
.card-content h3 {
  text-align: center;
}
/* contact section  */
#contact {
  background: var(--dark-color);
}
#contact h2 {
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
}
#contact .container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}
.top-contact {
  max-width: 800px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
.contact-way {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.contact-way i {
  font-size: 3rem;
}
.contact-way h3 {
  font-size: 3rem;
  font-weight: bold;
}
.bottom-contact {
  max-width: 400px;

  display: grid;
  gap: 1rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}
/* footer  */
footer {
  background: var(--darker-color);
  padding: 2rem;
  color: white;
  font-size: 1.6rem;
  text-align: center;
}
/* Media Query  */
@media (max-width: 786px) {
  html {
    font-size: 40%;
  }
  #hero .container {
    flex-direction: column;
  }
  .hero-img {
    display: grid;
    place-items: center;
  }
  #contact .container {
    height: 70vh;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 32%;
  }

  #hero .container {
    flex-direction: column;
  }
  .hero-img {
    display: grid;
    place-items: center;
  }
  #contact .container {
    height: 50vh;
  }
}
