* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  border: 1px solid;

  /* text-align: center; */
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.row {
  display: flex;
  margin: 0 -15px;
  justify-content: center;
}
.navbar {
  margin-left: 200px;
}

.navbar li {
  display: inline-block;
}
img {
  width: 100%;
}
.navbar li a {
  text-decoration: none;
  padding: 15px;
  font-size: 17px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #54524f;
  font-weight: 700;
}
.logo {
  width: 100px;
}
.ml-a {
  margin-left: auto;
}
.align-items {
  align-items: center;
}

.zindex-1 {
  z-index: 1;
}
.slider .button p {
  padding: 10px 70px 0px 0px;
  font-size: 21px;
  letter-spacing: 1px;
  color: #54524f;
  font-weight: 400;
  font-style: italic;
}

.slider .title h1 {
  font-size: 92px;
  color: #deb37e;
  font-weight: 800;
  font-family: "Open Sans";
  filter: drop-shadow(2.575px -4.286px 2.5px rgba(84, 82, 79, 0.22));
  padding-bottom: 10px;
}
.slider .title h6 {
  font-size: 25px;
  letter-spacing: 5px;
  color: #54524f;
  font-weight: 700;
  font-style: italic;
}
.slider .button {
  padding-top: 30px;
  font-size: 25px;
  color: #776c64;
  font-weight: 800;
}

.maintitle {
  position: absolute;
  top: 400px;
  left: 50px;
  width: 40%;
}
.ptext {
  font-size: 27px;
  color: #7f7770;
  font-weight: 400;
  text-align: center;
}
.headingtype2 h6 {
  font-size: 63px;
  text-transform: uppercase;
  color: #e2a355;
  font-weight: 800;
}
.card-section .card {
}
.img-card {
  display: flex;
  width: auto;
}

.card-img-all {
  margin: 30px auto;
  width: 350px;
  background-color: #54524f;
}
.card-img-all h6,
p {
  padding: 15px 0px 15px 0px;
}
.card-img-all h6 {
  font-size: 29px;
  color: #ffffff;
  font-weight: 700;
}
.card-img-all p {
  font-size: 23px;
  color: #ffffff;
  font-weight: 400;
}
.button-sm {
  margin-left: 45%;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 20px 40px 20px 40px;
  border-radius: 30px;
  font-size: 23px;
  letter-spacing: 5px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  background-color: #54524f;
}
