* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  border: 1px solid;
  /* background-color: black; */
  /* text-align: center; */
}
.container-fluid {
  width: 100%;
}
.container {
  width: 1400px;
}
.row {
  display: flex;
}
.navbar li {
  display: inline-block;
}
img {
  width: 100%;
}
.navbar li a {
  text-decoration: none;
  color: rgb(27, 25, 25);
  padding: 15px;
}
.search-bar {
  opacity: 0.471;
  flex-direction: row;
  border-radius: 25px;
  background-color: #7f7770;
}
